.aqua {
  color: aquamarine;
  font-size: 16px
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    font-family: Verdana, sans-serif;
}

.copy {
  text-align: right;
  color: Gray;
}

p {
  color: gray;
}

h2 , h3 {
  font-weight: 300;
  font-size: 42px;
}

.headers {
  color: white;
}

#mainheader {
  font-weight: normal;
  font-size: 50px;
}

#remembers {
  font-size: 21px;
  color: gray;
  background-color: black;
}
